name: Publish node-ci docker image

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 8 * * 6'
  workflow_dispatch:

env:
  REPOSITORY_NAME: wilsonm/github-cli
  NODE_CI_DOCKER_TAG: ${{ vars.NODE_CI_DOCKER_TAG }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Build and publish wilsonm/node-ci
      run: |
        docker build --tag ${REPOSITORY_NAME}:${NODE_CI_DOCKER_TAG} -f node-ci/Dockerfile .
        echo "$DOCKER_PASSWORD" | docker login -u="${DOCKER_USERNAME}" --password-stdin
        docker push ${REPOSITORY_NAME}:${NODE_CI_DOCKER_TAG}
        docker logout
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
